body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding-top: 25vh;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: inline-block;
  padding-left: 10px;
}

ul :nth-child(1) {
  padding: 0px;
}

a:visited,
a,
a:hover {
  color: black;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  color: lightcoral !important;
}

header {
  margin-bottom: 10vh;
}

label input {
  height: 19px;
  text-align: center;
}

label {
  display: block;
  padding: 10px;
}

.button {
  margin-top: 10px !important;
  padding: 20px;
  width: 5%;
}

input {
  text-align: center;
}

.reviewimg {
  padding-left: 10px;
}

textarea {
  text-align: center;
}

#logOut {
  margin-bottom: 30px;
  border-radius: 0px;
  border: 1px solid black;
  padding: 15px 30px;
  cursor: pointer;
}

#logOut:hover {
  background-color: rgba(1,1,1,0.9);
  border: 1px solid orange;
  color: orange;
}